{{ define "index" }}

{{ template "header" }}

{{ range $value :=. }}
<div class="row">
	<div class="col-xs-2">
	</div>
	<div class="col-xs-2">
		<h4><a href="/edit?id={{$value.Id}}">{{ $value.Name}}</a></h4>
	</div>
	<div class="col-xs-8">
		age: {{ $value.Age }}
	</div>
</div>
{{ end }}

{{ template "footer" }}

{{ end }}
