{{define "user"}}

{{ template "header" }}

<div class="row">
	<div class="col-xs-4">
	</div>
	<div class="col-xs-4">
		<form role="form" method="POST" action="/save">
			<input type="hidden" name="id" value="{{.Id}}"/>
			name 	
			<input type="text" class="form-control" name="name" value="{{.Name}}"/>
			age		
			<input type="text" class="form-control" name="age" value="{{.Age}}"/>
			
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
	<div class="col-xs-4">
		{{ if .Id}}
			<a href="/delete?id={{.Id}}">Delete</a>
		{{ end }}

	</div>
</div>

{{template "footer" }}

{{ end }}

